@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

.section {
  height: 300px;
  width: full;
  background-color: #153f32;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-1 {
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 2.5;
  font-weight: bold;
  font-size: 15px;
}
.section-2 {
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 2.5;
  font-weight: bold;
  font-size: 15px;
}
.section-3 {
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 2.5;
  font-weight: bold;
  font-size: 15px;
}

.section-4 {
  background-color: white;
  height: 100px;
  width: 2px;
}

.section-5 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
}

.section-1 :nth-child(1) {
  font-weight: bolder;
  font-size: 18px;
}
.section-2 :nth-child(1) {
  font-weight: bolder;
  font-size: 18px;
}
.section-3 :nth-child(1) {
  font-weight: bolder;
  font-size: 18px;
}
